#Anku >h2{
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Ankita >p{
    color: beige;
    font-family: 'Times New Roman', Times, serif;
}
.Ankita >h4{
    color: bisque;
    font-weight: 300;
}
